# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
my_num = 23

print(my_num)

type(my_num)

print(25)

23
25

##### Assinging float

In [8]:
my_float = 10.5

print(my_float)

print(type(my_float))

elephant = 10.0

type(elephant)

10.5
<class 'float'>

float

#### Performing Calculations on ints and floats

##### Addition

In [51]:
5 + 5
print(my_num)
my_num + 10
print(my_num)
my_num + .5

.5 + .5

my_float + my_num

23
23

33.5

In [57]:
# long hand
my_num = my_num + 10

print(my_num)

73

In [58]:
# short hand
my_num += 5

print(my_num)

78

##### Subtraction

In [20]:
10 - 5

10.5 - .5

15 - .5

my_num - 3

my_float - 10

0.5

##### Multiplication

In [24]:
10 * 2

my_num * 10

my_float * 5

.5 * 10

5.0

In [62]:
# long hand
new_float = 10.5

new_float = 10 * new_float

print(new_float)

105.0

In [61]:
new_int = 10

# short hand
new_int *= 5

print(new_int)

50

##### Division

In [32]:
# returns a float
25 / 5

10.5 / 2

my_float / 2

5.25

##### Floor Division

In [37]:
my_float // 2 

11 // 2

11.0 // 2

11 // 2

5

##### Modulo

In [42]:
11 % 2
    
24 % 5

10 % 2

11 % 2

1

##### Exponential

In [47]:
10 ** 2
10 ** 10

my_num**3

12167

### String Input-Output

##### String Assignment

In [63]:
my_string = 'hello world'

print(type(my_string))

print(my_string)

<class 'str'>
hello world

##### print() <br>
<p>Don't forget about end=' '</p>

In [74]:
print(my_string, end=' ')
# default \n newline
print("padawans rock", end = '\n')

print('Instructor ', end = 'Brandt ')
print('and Dylan')

hello world padawans rock
Instructor Brandt and Dylan

##### String Concatenation

In [85]:
class_string = 'Padawans 136'

concat_string = "Future Devs "  + class_string

print(concat_string)

instructor_one = 'brandt'
instructor_two = 'dylan'

instructors = instructor_one + ' ' + instructor_two

print(instructors)

Future Devs Padawans 136
brandt dylan

##### Type Conversion

In [104]:
type(my_num)

str(my_num)

my_num = str(my_num) 
type(my_num)
# type error
# my_num + 10

str(55)

type(int('55'))

str_num = '23'
print(type(str_num))

int(str_num)

print(type(str_num))

num = int(str_num)

print(type(num))

<class 'str'>
<class 'str'>
<class 'int'>

##### input()

In [112]:
my_age = input('What is your age: ')
print(my_age, type(my_age))

my_age = int(my_age) + 1

What is your age: 33
33 <class 'str'>

34

##### format()

In [119]:
instructor_two = 'dylan'

'{} You are {} year\'s old'.format(instructor_two, 33)

f'{instructor_two} you are {33} year\'s old'

"dylan you are 33 year's old"

##### Old Way (python 2)

In [127]:
"My name is %s" %instructor_two

"my age is %d and name is %s" %(int(my_age), instructor_two)

SyntaxError: invalid syntax (3862588863.py, line 3)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [128]:
color= input('color: ')
year = input('year: ')
make = input('make: ')
model = input('model: ')

f'Your car is a {color} {year} {make} {model}'

color: white
year: 2007
make: honda
model: fit

'Your car is a white 2007 honda fit '

### If Statements

In [140]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

if 10 > 11:
    print('10 greater than 11')
    
if 11 > 10:
    print('11 > 10')
    
if True:
    print('true')
    print('action two')
    print('still in if')
    
if 0:
    print('zero')
    
if 1:
    print(1, 'true')
    
if 10 > 11 and 9 == 9:
    print('both true')
    
if 10 > 11 or 9 == 9:
    print('either true using or')
    
if 10 < 11 and 9 == 9:
    print('both true 10 < 11 and 9 == 9')
    
if 10 > 11 or 9 != 9:
    print('either true using or 2')

11 > 10
true
action two
still in if
1 true
either true using or
both true 10 < 11 and 9 == 9

##### 'is' keyword

In [146]:
# if 9 is 9:
#     print('is true')
    
my_dict = {'foo':'bar'}
my_dict_copy = {'foo':'bar'}
actual_copy = my_dict

if my_dict is my_dict_copy:
    print('copies')
    
if my_dict is actual_copy:
    print('actuual copies')
    print(actual_copy)

actuual copies
{'foo': 'bar'}

##### 'in' keyword

In [156]:
print(instructors)

print('b' in instructors)

print('brandt' in instructors)

print('Brandt' in instructors)

print('d' in instructors)

if 'brandt' in instructors:
    print('this will be a strong class')

brandt dylan
True
True
False
True
this will be a strong class

##### 'not in' keyword'

In [159]:
if 'D' not in 'dylan':
    print('case sensitive')

case sensitive

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [161]:
name = input('name: ')
print('p' in name)

name: dave?
False

## Using 'and'/'or' with If Statements

In [ ]:
# see above

### Elif Statements

In [168]:
if 'ryan' in instructors:
    print('ranger')
elif 'brian' in instructors:
    print('kekambas')
elif 'dylan' in instructors:
    print('padawans')
elif 'brandt' in instructors:
    print('also padawans')
else:
    print('Maybe not in CT')

Maybe not in CT

### Else Statements

In [ ]:
# see above

### For Loops

In [175]:
print(instructors)

for e in instructors:
    print(e)
    print('hello world')

brandt dylan
b
hello world
r
hello world
a
hello world
n
hello world
d
hello world
t
hello world

hello world
d
hello world
y
hello world
l
hello world
a
hello world
n
hello world

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [176]:
for e in instructors:
    if e == 't':
        continue
    print(e)

b
r
a
n
d

d
y
l
a
n

##### Break Statement

In [ ]:
# will break out of current loop

In [177]:
for e in instructors:
    if e == 't':
        break
    print(e)

b
r
a
n
d

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [178]:
for e in instructors:
    if e == 't':
        pass
    print(e)

b
r
a
n
d
t

d
y
l
a
n

##### Double For Loops

In [184]:
step = 1
for letter in 'dylan':
    for letter_two in 'dylan':
        print(f'{letter = } {letter_two = }')
        print(step)
        step += 1

letter = 'd' letter_two = 'd'
1
letter = 'd' letter_two = 'y'
6
letter = 'd' letter_two = 'l'
11
letter = 'd' letter_two = 'a'
16
letter = 'd' letter_two = 'n'
21
letter = 'y' letter_two = 'd'
26
letter = 'y' letter_two = 'y'
31
letter = 'y' letter_two = 'l'
36
letter = 'y' letter_two = 'a'
41
letter = 'y' letter_two = 'n'
46
letter = 'l' letter_two = 'd'
51
letter = 'l' letter_two = 'y'
56
letter = 'l' letter_two = 'l'
61
letter = 'l' letter_two = 'a'
66
letter = 'l' letter_two = 'n'
71
letter = 'a' letter_two = 'd'
76
letter = 'a' letter_two = 'y'
81
letter = 'a' letter_two = 'l'
86
letter = 'a' letter_two = 'a'
91
letter = 'a' letter_two = 'n'
96
letter = 'n' letter_two = 'd'
101
letter = 'n' letter_two = 'y'
106
letter = 'n' letter_two = 'l'
111
letter = 'n' letter_two = 'a'
116
letter = 'n' letter_two = 'n'
121

### While Loops

In [188]:
num = 0
while num < 10:
    print(num)
    num += 1
print(num, "loop is done")

0
1
2
3
4
5
6
7
8
9
10 loop is done

##### Looping 'While True'

In [190]:
num = 0
while True:
    print(True, 'be careful')
    num += 1
    if num == 15:
        break

True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful

In [192]:
flag = True
num = 0
while flag:
    num += 1
    if num == 15:
        flag = False

##### While & For Loops Used Together

In [194]:
num = 0
while num < 10:
    for letter in 'brandt':
        print(f'{num = } {letter = }')
    num += 1

num = 0 letter = 'b'
num = 0 letter = 'r'
num = 0 letter = 'a'
num = 0 letter = 'n'
num = 0 letter = 'd'
num = 0 letter = 't'
num = 1 letter = 'b'
num = 1 letter = 'r'
num = 1 letter = 'a'
num = 1 letter = 'n'
num = 1 letter = 'd'
num = 1 letter = 't'
num = 2 letter = 'b'
num = 2 letter = 'r'
num = 2 letter = 'a'
num = 2 letter = 'n'
num = 2 letter = 'd'
num = 2 letter = 't'
num = 3 letter = 'b'
num = 3 letter = 'r'
num = 3 letter = 'a'
num = 3 letter = 'n'
num = 3 letter = 'd'
num = 3 letter = 't'
num = 4 letter = 'b'
num = 4 letter = 'r'
num = 4 letter = 'a'
num = 4 letter = 'n'
num = 4 letter = 'd'
num = 4 letter = 't'
num = 5 letter = 'b'
num = 5 letter = 'r'
num = 5 letter = 'a'
num = 5 letter = 'n'
num = 5 letter = 'd'
num = 5 letter = 't'
num = 6 letter = 'b'
num = 6 letter = 'r'
num = 6 letter = 'a'
num = 6 letter = 'n'
num = 6 letter = 'd'
num = 6 letter = 't'
num = 7 letter = 'b'
num = 7 letter = 'r'
num = 7 letter = 'a'
num = 7 letter = 'n'
num = 7 letter = 'd'
num = 7 letter = 't'
num = 8 letter = 'b'
num = 8 letter = 'r'
num = 8 letter = 'a'
num = 8 letter = 'n'
num = 8 letter = 'd'
num = 8 letter = 't'
num = 9 letter = 'b'
num = 9 letter = 'r'
num = 9 letter = 'a'
num = 9 letter = 'n'
num = 9 letter = 'd'
num = 9 letter = 't'

### Built-In Functions

##### range()

In [200]:
# range(start, stop, step)

# for num in range(0, 10, 1):
#     print(num)
    
for even in range(2, 10, 2):
    print(even)

2
4
6
8

##### len()

In [209]:
# print(len('dylan'))

# list(range(5))
ins = 'dylan'
for i in range(len(ins)):
    print(i, end = ' ')
    print(ins[i])

0 d
1 y
2 l
3 a
4 n

##### help()

##### isinstance()

In [213]:
print(isinstance(ins, str))
print(isinstance(ins, int))
print(isinstance(10, int))

True
False
True

##### abs()

In [214]:
abs(-5)

5

### Try and Except

### Lists

##### Declaring Lists

In [218]:
alist = []
type(alist)

num_list = [1,2,3,4,29]

print(num_list)

[1, 2, 3, 4, 29]

##### Indexing a List

In [222]:
num_list[0]
num_list[-1]
num_list[len(num_list)-1]

num_list[2]

3

##### .append()

In [228]:
num_list.append(100)

print(num_list)

[1, 2, 3, 4, 29, 100]

##### .insert()

In [229]:
num_list.insert(1, 10)
print(num_list)

[1, 10, 2, 3, 4, 29, 100]

##### .pop()

In [231]:
# num_list.pop()

print(num_list)

ten = num_list.pop(1)
print(num_list)
print(ten)

[1, 10, 2, 3, 4, 29, 100]
[1, 2, 3, 4, 29, 100]
10


##### .remove()

In [232]:
print(num_list)
num_list.remove(29)
print(num_list)

[1, 2, 3, 4, 29, 100]
[1, 2, 3, 4, 100]

##### del()

##### Concatenating Two Lists

In [234]:
num_list + [1,23]

[1, 2, 3, 4, 100, 1, 23]

##### Lists Within Lists

In [235]:
[1,12,3,[1,2,3]]

[1, 12, 3, [1, 2, 3]]

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>